:10034 {
    root * /usr/share/caddy

    handle /api/assets/* {
        uri strip_prefix /api
        reverse_proxy backend:8055
        encode
    }

    @static {
        file
    }

    handle @static {
        file_server
        encode
        header Cache-Control "public, max-age=31536000, immutable"
    }

    handle {
        reverse_proxy frontend:3000 {
            trusted_proxies {$TRUSTED_PROXIES:private_ranges}
        }
        encode
    }
}
