.chapter-content {
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl mb-2;
  }

  h2 {
    @apply text-2xl;
    @apply mt-4;
  }
  h3 {
    @apply text-xl;
    @apply mt-4;

    &::after {
      @apply h-0.5 w-full content-[""] block bg-gray-500;
    }
  }
  h4 {
    @apply text-lg;
    @apply mt-4;
  }

  ul {
    @apply my-2 pl-4;

    li {
      @apply list-disc list-outside;
    }
  }

  table {
    @apply mb-6 text-sm;

    th {
      @apply text-left;
    }

    th,
    td {
      @apply py-1 px-2;
    }

    tbody {
      tr:nth-of-type(2n) {
        @apply bg-blue-50 hover:bg-blue-200;
      }

      tr:nth-of-type(2n-1) {
        @apply bg-blue-100 hover:bg-blue-200;
      }
    }
  }

  p {
    @apply mb-2;

    &:last-child {
      @apply m-0;
    }
  }

  .first-paragraph {
    p::first-line {
      @apply uppercase italic;
    }

    p::first-letter {
      @apply float-left text-[3.25rem] mr-[0.3rem] mt-[0.35rem] leading-[0.9];
    }
  }

  blockquote {
    @apply border-red-900 border border-solid;
    @apply p-4 my-4;
    @apply text-sm;

    &.sidebar {
      @apply bg-orange-100;
      @apply border border-solid border-zinc-400;
      @apply p-4;
    }
  }

  .rev-pad-list {
    li {
      @apply list-none -indent-4;
    }
  }

  a {
    @apply font-bold text-red-900 hover:text-red-950;
  }
}
