.cc.efota {
  --heading-text-color: #bd5b00;

  --table-light-bg-color: #fdf4ec;
  --table-medium-bg-color: #fce2cd;
  --table-darker-bg-color: #f6aa6d;

  --subheading-text-color: #bd5b00;

  --rules-border-color: #231f20;
  --rules-bg-color: #303030;
  --rules-text-color: #f5f5f5;

  --statblock-strong-text-color: #bd5b00;

  li::marker {
    @apply text-[--heading-text-color];
  }

  aside.rules {
    @apply border-0 border-b-2 border-t-2 py-16 px-8 md:mx-16;

    --link-text-color: #dc2626;
    --link-text-darker-color: #b91c1c;
  }

  aside.newspaper {
    @apply w-[80%] relative bg-[#eeeaea] mx-auto;

    div {
      @apply mb-2;
    }

    &:before {
      @apply content-[''] absolute inset-0 bg-transparent z-[-1];

      box-shadow:
        10px 0px 15px #363636,
        inset 10px 0px 15px 10px #363636;
      transform: rotate(1.5deg);
    }

    .pretitle {
      @apply font-semibold text-xl uppercase text-center;
      font-stretch: 62%;
    }

    .title {
      @apply font-medium text-5xl uppercase text-center;
      @apply before:mb-2 after:mt-2;

      font-stretch: 62%;

      &::before,
      &::after {
        @apply content-[''] block w-full h-0.5 bg-[#231f20];
      }
    }

    .subtitle {
      @apply font-semibold uppercase;
    }

    .text {
      @apply mb-0;
      p::first-letter {
        @apply float-left text-7xl mr-[0.15rem] mt-[0.35rem] leading-[0.9];

        font-stretch: 75%;
      }
    }
  }

  /* hack for ships as I'm too lazy to do it properly */
  .rev-pad-list.ship-part {
    li:first-child p {
      strong {
        @apply text-[--subheading-text-color];
      }

      strong:nth-of-type(2) {
        @apply ml-8;
      }
    }
  }
}
