.cc {
  /* headings */
  > h1,
  > h2,
  > h3,
  > h4 {
    @apply font-semibold;
  }

  > h1 {
    @apply text-4xl mb-2;
  }

  > h2 {
    @apply text-2xl;
    @apply mt-4;
  }
  > h3 {
    @apply text-xl;
    @apply mt-4;

    &::after {
      @apply h-0.5 w-full content-[""] block;

      /* TODO: this should a theme-specific */
      @apply bg-gray-500;
    }
  }
  > h4 {
    @apply text-lg;
    @apply mt-4;
  }

  /* lists */
  ul {
    @apply my-2 pl-4;

    li {
      @apply list-disc list-outside;
    }
  }

  .rev-pad-list {
    li {
      @apply list-none -indent-4;
    }
  }

  /* tables */
  table {
    @apply mb-6 text-sm;

    th {
      @apply text-left;
    }

    th,
    td {
      @apply py-1 px-2;
    }

    /* TODO: this should a theme-specific */
    tbody {
      tr:nth-of-type(2n) {
        @apply bg-blue-50 hover:bg-blue-200;
      }

      tr:nth-of-type(2n-1) {
        @apply bg-blue-100 hover:bg-blue-200;
      }
    }
  }

  /* links */
  a {
    @apply font-bold text-red-900 hover:text-red-950;
  }

  .heading-link {
    @apply invisible;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover {
    .heading-link {
      @apply visible;
    }
  }

  /* just text */
  p {
    @apply mb-2;

    &:last-child {
      @apply m-0;
    }
  }

  /* special blocks */
  .first-paragraph {
    p::first-line {
      @apply uppercase italic;
    }

    p::first-letter {
      @apply float-left text-[3.25rem] mr-[0.3rem] mt-[0.35rem] leading-[0.9];
    }
  }

  aside {
    @apply border border-solid p-4 my-4 text-sm;
  }

  aside.rules {
    /* TODO: this should a theme-specific */
    @apply border-red-900 bg-orange-100;

    > p:first-of-type {
      @apply font-semibold uppercase text-base;
    }
  }

  /* TODO: add support when first such book created
  aside.read-aloud {
  }
  */

  aside.statblock {
    /* TODO: this is crap, it should be sone somehow better */
    h2,
    h3,
    h4,
    h5 {
      @apply font-semibold text-xl text-amber-900;
      @apply after:content-[''] after:w-full after:bg-amber-900 after:h-0.5 after:block;
    }

    h6 {
      @apply font-semibold text-lg text-amber-900 pt-2 pb-1;
      @apply after:content-[''] after:w-full after:bg-amber-900 after:h-0.5 after:block;
    }

    p {
      @apply mb-0 text-amber-950;
    }

    h6 ~ p {
      @apply text-inherit;
    }

    p.creature-type {
      @apply text-zinc-700 italic mb-2;
    }

    /* for initiative */
    strong:nth-of-type(2) {
      @apply ml-8;
    }

    .stats {
      @apply grid grid-cols-2 gap-1;

      table {
        @apply mb-1;
      }

      thead {
        @apply text-xs text-zinc-500;
      }

      tbody {
        td:nth-of-type(1) {
          @apply font-semibold text-amber-950;
        }
      }

      td:nth-of-type(2),
      td:nth-of-type(3),
      td:nth-of-type(4) {
        @apply text-right;
      }
    }

    @apply xl:columns-2 rounded border border-zinc-500 shadow-lg py-2;
  }
}
