.cc {
  --strong-text-color: #7f1d1d;
  --strong-text-darker-color: #450a0a;

  --rules-border-color: #7f1d1d;
  --rules-bg-color: #ffedd5;
  --rules-text-color: #27272a;

  --spell-text-color: #166534;
  --spell-text-darker-color: #052e16;

  --heading-text-color: #57150d;
  --heading-underline-color: #caae6a;

  --table-light-bg-color: #eff6ff;
  --table-medium-bg-color: #dbeafe;
  --table-darker-bg-color: #bfdbfe;

  --statblock-title-text-color: #793a2e;
  --statblock-strong-text-color: #481e24;
  --statblock-accent-text-color: #481e24;
  --statblock-secondary-text-color: #666363;
  --statblock-border-color: #818180;

  --subheading-text-color: #27272a;
  --link-text-color: #7f1d1d;
  --link-text-darker-color: #450a0a;

  /* headings */
  > h1,
  > h2,
  > h3,
  > h4 {
    @apply font-semibold;
  }

  > h2,
  > h3,
  > h4 {
    @apply text-[--heading-text-color];
  }

  > h1 {
    @apply text-4xl mb-2;
  }
  > h2 {
    @apply text-2xl;
    @apply mt-4;
  }
  > h3 {
    @apply text-xl;
    @apply mt-4;

    &::after {
      @apply h-0.5 w-full content-[""] block;
      @apply bg-[--heading-underline-color];
    }
  }
  > h4 {
    @apply text-lg;
    @apply mt-4;
  }

  /* lists */
  ul {
    @apply my-2 pl-4;

    li {
      @apply list-disc list-outside;
    }
  }

  .rev-pad-list {
    li {
      @apply list-none -indent-4;
    }
  }

  /* tables */
  table {
    @apply mb-6 text-sm;

    th {
      @apply text-left;
    }

    th,
    td {
      @apply py-1 px-2;
    }

    tbody {
      tr {
        @apply transition-colors;
      }

      tr:nth-of-type(2n) {
        @apply bg-[--table-light-bg-color];
      }

      tr:nth-of-type(2n-1) {
        @apply bg-[--table-medium-bg-color];
      }

      tr:hover {
        @apply bg-[--table-darker-bg-color];
      }
    }
  }

  /* links */
  a {
    @apply font-bold;
    @apply text-[--link-text-color] hover:text-[--link-text-darker-color];
  }

  a[href^='/spells/'] {
    @apply text-[--spell-text-color] hover:text-[--spell-text-darker-color];
  }

  .heading-link {
    @apply invisible text-[--heading-text-color];
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover {
    .heading-link {
      @apply visible;
    }
  }

  /* just text */
  p {
    @apply mb-2;

    &:last-child {
      @apply m-0;
    }
  }

  p > em:first-of-type > strong {
    @apply text-[--subheading-text-color];
  }

  /* special blocks */
  .first-paragraph {
    p::first-line {
      @apply uppercase italic;
    }

    p::first-letter {
      @apply float-left text-[3.25rem] mr-[0.3rem] mt-[0.35rem] leading-[0.9] text-[--heading-text-color];
    }
  }

  aside {
    @apply border border-solid p-4 my-4 text-sm;
  }

  aside.rules {
    @apply border-[--rules-border-color] bg-[--rules-bg-color] text-[--rules-text-color];

    > p:first-of-type {
      @apply font-semibold uppercase text-base;
    }
  }

  /* TODO: add support when first such book created
  aside.read-aloud {
  }
  */

  aside.statblock {
    /* TODO: this is crap, it should be done somehow better */
    h2,
    h3,
    h4,
    h5 {
      @apply font-semibold text-xl text-[--statblock-title-text-color] block;
      @apply after:content-[''] after:w-full after:bg-[--statblock-strong-text-color] after:h-[1px] after:block;

      column-span: all;
    }

    h6 {
      @apply font-semibold text-lg text-[--statblock-strong-text-color] pt-2 pb-1;
      @apply after:content-[''] after:w-full after:bg-[--statblock-strong-text-color] after:h-0.5 after:block;
    }

    p {
      @apply mb-0 text-[--statblock-accent-text-color];
    }

    p > strong {
      @apply text-[--statblock-strong-text-color];
    }

    h6 ~ p {
      @apply text-inherit;
    }

    p.creature-type {
      @apply text-[--statblock-secondary-text-color] italic mb-2;
    }

    /* for initiative */
    strong:nth-of-type(2) {
      @apply ml-8;
    }

    .stats {
      @apply grid grid-cols-2 gap-1;

      table {
        @apply mb-1;
      }

      thead {
        @apply text-xs text-[--statblock-secondary-text-color];
      }

      tbody {
        td:nth-of-type(1) {
          @apply font-semibold text-[--strong-text-darker-color];
        }
      }

      td:nth-of-type(2),
      td:nth-of-type(3),
      td:nth-of-type(4) {
        @apply text-right;
      }
    }

    @apply xl:columns-2 rounded-xl border-[3px] border-double border-[--statblock-border-color] shadow-lg py-2;
  }

  aside.rhyme {
    @apply w-full text-center font-semibold;
  }
}
