.cc.phb-2024 {
  --rules-border-color: #450a0a;

  aside.play-example {
    background: linear-gradient(
      to right,
      rgba(222, 192, 133, 0.438),
      rgba(222, 192, 133, 0) 70%
    );

    > p {
      @apply ml-4 -indent-4;
    }

    aside.explanation {
      @apply border-2 border-solid p-4 bg-amber-50 my-2 rounded-lg;

      border-color: rgba(222, 192, 133, 1);
    }

    .selection {
      @apply py-2 relative pl-[22px] -ml-1.5 pr-1.5 -indent-4;

      background-color: rgba(222, 192, 133, 0.438);
    }

    .selection::before {
      @apply inline-block absolute w-1 h-full -ml-4 -mt-2 content-[""];

      background-color: rgba(222, 192, 133, 1);
    }
  }

  .class-img {
    @apply float-left md:-ml-16 mr-2 max-w-12;
  }
}
