@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400 600;
}

body {
  @apply bg-slate-50 font-sans;
}
